@media screen and (min-width: 600px) {
    .location-address {
        display: flex;
        justify-content: space-between;
    }

    .location-title {
        font-size: 68px;
        margin-bottom: 40px;
      }
}